@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

body {
    align-items: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: black;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-size: 20px;   
}

a {
    text-decoration: none;
    color: #e5e7eb;
}



.header {
    background: black;
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 48px;
}
  
.logo {
    max-height: 48px;
}

.top_menu {
    display: flex;
    gap: 36px;
}

.top_menu {
    flex-shrink: 0;
}



.top {
    color: #f9faf8;
    display: flex;
    align-items: center;
    padding: 48px;
    padding-bottom: 100px;
    gap: 48px;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    text-shadow:
        0 0 7px black,
        0 0 12px black;
    padding-top: 100px;
}

.top_text {
    margin-top: 36px;
    text-shadow:
        0 0 6px black,
        0 0 12px black;
}

.more_button {
    margin-top: 24px;
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
}

#hero_image {
    width: 50%;
    height: auto;
}



.center {
    background-color: #f9faf8;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    //padding: 36px 48px 72px;
    padding-top: 36px;
    padding-bottom: 72px;
    //padding-left: 20px;
    //padding-right: 20px;
    gap: 36px;
    text-align: center;
}

.center_title {
    font-weight: bolder;
    font-size: 36px;
}

.center_items {
    display: flex;
    justify-content:space-evenly;
    //padding-left: 20px;
    //padding-right: 20px;
}

.center_item {
    font-weight: 300;
    max-width: 250px;
}

.subtext {
    margin-top: 12px;
}



.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: black;
    padding: 72px 96px;
}

.quote_signature {
    text-align: right;
    font-size: 24px;
    font-weight: bolder;
    margin-right: 100px;
}



.cta {
    //margin: 36px 48px;
    padding: 36px 96px;
    display: flex;
    background-color: #3882f6;
    align-items: center;
    justify-content: space-between;
    color: #f9faf8;
}

.cta_title {
    font-size: 20px;
    font-weight: bolder;
}

.cta_button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    border: #f9faf8;
    border-width: 2px;
    border-style: solid;
    padding: 4px 36px; 
    margin: 20px;
    flex-shrink: 0;
}



.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 24px;
}
